<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #employeeForm="ngForm" novalidate novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>View EmplyeeInfo</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5><b> <i class="fa fa-server" aria-hidden="true"></i> Employee Name </b>
                                    </h5>
                                </div>
                                <div class="col-md-1">
                                    <b>: </b>
                                </div>
                                <div class="col-md-4">
                                    {{item.empName}}
                                </div>
                                <div class="col-md-2">
                                    <button type="button"  class="btn btn-primary blue"
                                    (click)="change()"><i class="fa fa-pencil-square-o"
                                            aria-hidden="true"></i>
                                        Change Password</button>
                                </div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5><b><i class="fa fa-user" aria-hidden="true"></i> Username </b>
                                    </h5>
                                </div>
                                <div class="col-md-1">
                                    <b>: </b>
                                </div>
                                <div class="col-md-6"> {{item.username}}</div>
                            </div>
                            <!-- change password -->
                            <div *ngIf="changePasswordId==1" class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5>
                                        <b>
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                            New Password
                                            <span style="color:red;">*</span>
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-md-1"><b>:</b></div>
                                <div class="col-md-6">
                                    <input type="password" autocomplete="new-password" id="Password"
                                        class="form-control" [(ngModel)]="employee.password" name="password"
                                        #password="ngModel"
                                        [ngClass]="{ 'is-invalid': password.touched && password.invalid }" required
                                        minlength="6" />
                                    <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
                                        <div *ngIf="password.errors.required">Password is required </div>
                                        <div *ngIf="password.errors.minlength">Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="changePasswordId==1" class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5>
                                        <b>
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                            Confirm Password
                                            <span style="color:red;">*</span>
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-md-1"><b>:</b></div>
                                <div class="col-md-6">
                                    <input type="password" autocomplete="new-password" id="ConfirmPassword"
                                        class="form-control" name="confirmPassword"
                                        [(ngModel)]="employee.confirmPassword"
                                        [ngClass]="{ 'is-invalid': confirmPassword.touched && confirmPassword.invalid }"
                                        required confirmPassword #confirmPassword="ngModel" />
                                    <div *ngIf="confirmPassword.touched && confirmPassword.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                                    </div>
                                    <div *ngIf="confirmPassword.touched && employee.password!=employee.confirmPassword"
                                        class="invalid-feedback">
                                        Passwords not matched
                                    </div>
                                </div>
                            </div>
                            <!--change password -->
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5><b> <i class="fa fa-briefcase" aria-hidden="true"></i> Designation </b>
                                    </h5>
                                </div>
                                <div class="col-md-1">
                                    <b>: </b>
                                </div>
                                <div class="col-md-6">
                                    {{item.designation}}
                                </div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5><b> <i class="fa fa-envelope" aria-hidden="true"></i> Email </b>
                                    </h5>
                                </div>
                                <div class="col-md-1">
                                    <b>: </b>
                                </div>
                                <div class="col-md-6">
                                    {{item.email}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5><b> <i class="fa fa-phone-square" aria-hidden="true"></i> Contact Number </b>
                                    </h5>
                                </div>
                                <div class="col-md-1">
                                    <b>: </b>
                                </div>
                                <div class="col-md-6">
                                    {{item.contactNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button *ngIf="changePasswordId==0" [disabled]="saving" type="button" class="btn btn-primary blue"
                        (click)="close()">Close</button>
                    <button *ngIf="changePasswordId==1" type="submit" class="btn btn-primary blue"
                        (click)="updatePssword(item.id)"
                        [disabled]="!employeeForm.form.valid || employee.password!=employee.confirmPassword"><i
                            class="fa fa-save"></i>
                        <span>Update Password</span></button>
                </div>
            </form>
        </div>
    </div>

</div>