.btn-add-product{
    font-weight: bolder !important;
}
form{
    width: 100%;
    padding: 1% 1% 1% 1%;
}
fieldset.scheduler-border {
    border: 1px solid #45A845 !important;
    padding: 0 5px 5px 5px !important;
    margin: 0px 0 0 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
        margin-bottom: 0;
    }
    .form-control{
        background-image: none;
        border: 1px solid green;
        border-radius: 0;
    }
    .is-invalid {
        border: 1px solid red !important;
    }
    .invalid-feedback{
        font-weight: 600;
    }
    .table>thead>tr>th{
        vertical-align: top !important;
    }
    .btn-grid-pdf {
        margin-left: 6%; 
    }
    .icon-pdf {
        margin-right: -13%;
        color: white;
    }
    .icon-action
     {
        margin-right: -2px; ;
    }

    /* .prod-btn{
        padding-left: 20px;
        padding-right: 20px;
    } */
    .input-group-text {
        align-items: center;
        margin-bottom: 0;
        margin-left: 2px !important;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef !important;
        border: 1px solid #ced4da !important;
        border-radius: .25rem;
        margin-top: -1px !important;
    }
    .table-bordered>tbody>tr>td{
        padding: 8px !important;
    }
    .table>thead>tr>th{
        vertical-align: top !important;
        border: 1px solid #ffffff;
    }
    .table>tbody>tr>td{
        vertical-align: middle !important;
        border: 1px solid #c8c8c8;
    }
    .table>thead>tr{
        border-bottom: 2px solid #c8c8c8;
    }
    .btn.disabled, .btn[disabled], fieldset[disabled] .btn{
        opacity: .50 !important;
    }
    /* .input-group-text {
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        margin-left: 2px !important;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef !important;
        border: 1px solid #ced4da !important;
        border-radius: .25rem;
    } */