
.table>thead>tr>th{
    vertical-align: top !important;
    border: 1px solid #ffffff;
}
.table>tbody>tr>td{
    vertical-align: middle !important;
    border: 1px solid #c8c8c8;
}
.table>thead>tr{
    border-bottom: 2px solid #c8c8c8;
}