<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><strong>Admin Dashboard</strong></h3>
        </div>
        <div class="box-body" style="background-color: #ecF0F5;">
            <div class="row">
               
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Total Proforma</span>
                      <span class="info-box-number">{{adminDashboardInfo.totalProforma === undefined ? 0 : adminDashboardInfo.totalProforma}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Approved Proforma</span>
                      <span class="info-box-number">{{adminDashboardInfo.approvedProforma === undefined ? 0 : adminDashboardInfo.approvedProforma}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- fix for small devices only -->
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-orange"><i class="fa fa-check"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Partially Approved</span>
                      <span class="info-box-number">{{adminDashboardInfo.partialApprovedProforma === undefined ? 0 : adminDashboardInfo.partialApprovedProforma}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-warning"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Rejected Proforma</span>
                      <span class="info-box-number">{{adminDashboardInfo.rejectedProforma === undefined ? 0 : adminDashboardInfo.rejectedProforma}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
              </div>
              <div class="row">
              
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-clock-o"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Pending Proforma</span>
                      <span class="info-box-number">{{adminDashboardInfo.pendingProformaApproval ===  undefined ? 0 :  adminDashboardInfo.pendingProformaApproval}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <div class="clearfix visible-sm-block"></div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fa fa-list"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Total Importer</span>
                      <span class="info-box-number">{{adminDashboardInfo.totalImporter === undefined ? 0 : adminDashboardInfo.totalImporter}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <div class="clearfix visible-sm-block"></div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-list"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Total Employee</span>
                      <span class="info-box-number">{{adminDashboardInfo.totalEmployee === undefined ? 0 : adminDashboardInfo.totalEmployee}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <div class="clearfix visible-sm-block"></div>
                <!-- /.col -->
              </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</div>
